label.checkbox-inline{
    color: rgb(22, 22, 3);

    }
video center{ center
}
body{
    background-color: rgb(158, 195, 243);
}
h1{
    color: black;
    font-family: helvetica;
    text-align: center;
}
h2{
    text-align: center;
}